<% slots = Slot.all %>
<% req = Request.all %>
<% @car.slots.each do |slot| %>
    <% slot.requests.each do |r| %>
        <% if r.user == current_user.email %>
            <h5> You have requested the car. Check your dashboard for more information </h5>
        <% else %>
            <%= link_to('Book this slot', "/cars/#{@car.id}/slots/#{slot.id}/requests/new") %>
        <% end %>
    <% end %>
<% end %>

