<table class="table table-striped table-hover table-bordered">
  <thead class="thead-dark">
    <tr>
      <th> User Name </th>
      <th> Current Status </th>
      <th colspan="1"></th>
    </tr>
  </thead>
  <tbody>
  <% debugger %>
    <% @carrequests.each do |r| %>
      <tr>
          <td> <%= r.user %> </td>
          <td> <%= r.status %> </td>
          <td>
              <%# <%= link_to('Approve', "/cars/#{@car.id}/slots/#{slot.id}/requests/#{request.id}") %> %>
          </td>
      </tr>
    <% end %>
</tbody>
</table>
<br>

