<h1> Book a car </h1>
<%#what is this file for if everything is commented here %>

<%# <%= form_with(model: [ @car, @car.slots.build ], local: true) do |form| %> %>
    <%# <p> %>
      <%# <%= form.label :request_approve %><br> %>
      <%# <%= form.date_select :from_date %> %>
    <%# </p> %>

<%# <% end %> %>
